## Create table emp(empid, empname, salary) and insert 8 records. Print only those records where salary > 10000  and write this data into salary.csv file. Do all this task from python.

In [12]:
import sqlite3

In [13]:
import csv

In [14]:
conn = sqlite3.connect('employees.db')

In [15]:
cursor = conn.cursor()

In [16]:
cursor.execute("CREATE TABLE IF NOT EXISTS employees (empid INTEGER PRIMARY KEY,empname TEXT NOT NULL,salary REAL NOT NULL)")

In [17]:
records = [
    (1, 'om', 12000),
    (2, 'sai', 8000),
    (3, 'ram', 15000),
    (4, 'radha', 9000),
    (5, 'krishna', 16000),
    (6, 'gopi', 7000),
    (7, 'rasi', 11000),
    (8, 'sita', 5000)
]

In [18]:
conn.commit()

In [19]:
cursor.execute('SELECT * FROM employees WHERE salary > 10000')

In [20]:
rows = cursor.fetchall()

In [21]:
with open('salary.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile)
    csvwriter.writerow(['empid', 'empname', 'salary'])  
    csvwriter.writerows(rows)

In [22]:
print("Records with salary > 10000 have been written to salary.csv.")

Records with salary > 10000 have been written to salary.csv.