## 2. Create table emp(empid, empname, salary) and insert 8 records. Print only those records where salary > 10000  and write this data into salary.csv file. Do all this task from python.

In [ ]:
import sqlite3 as sq

In [19]:
import csv

In [20]:
conn = sq.connect('employees.db')

In [21]:
cur=conn.cursor()

In [27]:
q="CREATE TABLE if not exists employees1(empid INTEGER PRIMARY KEY,empname TEXT NOT NULL,salary REAL NOT NULL)"

In [28]:
cur.execute(q)

In [29]:
conn.commit()

In [30]:
cur=conn.cursor()

In [43]:
cur.execute("insert into employees1 values(10,'om',12000)")

In [44]:
cur.execute("insert into employees1 values(20, 'sai', 8000)")

In [45]:
cur.execute("insert into employees1 values(30, 'ram', 15000)")

In [46]:
cur.execute("insert into employees1 values(40, 'radha', 9000)")

In [47]:
cur.execute("insert into employees1 values(50, 'krishna', 16000)")

In [48]:
cur.execute("insert into employees1 values(60, 'gopi', 7000)")

In [49]:
cur.execute("insert into employees1 values(70, 'rasi', 11000)")

In [50]:
cur.execute("insert into employees1 values(80, 'sita', 5000)")

In [51]:
conn.commit()

In [53]:
cur.execute('SELECT * FROM employees1 WHERE salary > 10000')

In [55]:
rows = cur.fetchall()

In [56]:
print(rows)

[(1, 'om', 12000.0), (3, 'ram', 15000.0), (5, 'krishna', 16000.0), (7, 'rasi', 11000.0), (10, 'om', 12000.0), (30, 'ram', 15000.0), (50, 'krishna', 16000.0), (70, 'rasi', 11000.0)]

In [57]:
with open('C:\\23bca271\python\salary.csv','r') as csv:
    csv_read=csv.reader(csv)
    for r in csv_read:
        print(r)

AttributeError: '_io.TextIOWrapper' object has no attribute 'reader'

In [58]:
print("Records with salary > 10000 have been written to salary.csv.")

Records with salary > 10000 have been written to salary.csv.

In [59]:
print()