## 2. Create table emp(empid, empname, salary) and insert 8 records. Print only those records where salary > 10000  and write this data into salary.csv file. Do all this task from python.

In [1]:
import sqlite3

In [2]:
import csv

In [3]:
conn = sqlite3.connect('employees.db')

In [4]:
cursor = conn.cursor()

In [8]:
cursor.execute("CREATE TABLE IF NOT EXISTS employees (empid INTEGER PRIMARY KEY,empname TEXT NOT NULL,salary REAL NOT NULL)")

In [9]:
records = [
    (1, 'om', 12000),
    (2, 'sai', 8000),
    (3, 'ram', 15000),
    (4, 'radha', 9000),
    (5, 'krishna', 16000),
    (6, 'gopi', 7000),
    (7, 'rasi', 11000),
    (8, 'sita', 5000)
]

In [10]:
conn.commit()

In [11]:
cursor.execute('SELECT * FROM employees WHERE salary > 10000')

In [12]:
rows = cursor.fetchall()

In [3]:
with open('C:\23bca271\python\salary.csv','r') as csv:
   csv_read=csv.reader(csv)
    for r in csv_read:
        print(r)

IndentationError: unexpected indent (2855575024.py, line 3)

In [4]:
print("Records with salary > 10000 have been written to salary.csv.")

Records with salary > 10000 have been written to salary.csv.